.project-section {
    position: relative;
    padding-bottom: 50px !important;
    padding-top: 95px !important;
    color:#fbd9ad;
  }

  .project-description {
    color: white !important;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    text-align: center;
  }

  .aboutme-heading{
    font-size: 4.6em;
    color:#fbd9ad;
  }


  .singleProject {
    box-shadow: 4px 4px 8px rgba(36, 3, 3, 0.2);
    width: 100%;
    height: 420px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.4rem 2rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;
  }
  
  .projectContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
  }
  
  .projectContent > h2 {
    font-family: var(--primaryFont);
    font-style: normal;
    font-weight: 600;
    font-size: 1.925rem;
    line-height: 110%;
    text-align: center;
  }
  
  .projectContent > img {
    width: 100%;
    height: 60%;
    box-shadow: 1px 6px 6px 2px #302e4d;
    border-radius: 3px;
    transition: opacity 0.7s 0.3s;
  }
  
  .singleProject:hover img{
    opacity: 0;
  }
  
  .project--showcaseBtn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .project--showcaseBtn > a {
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.5s 0.3s;
  }
  
  .singleProject:hover .project--showcaseBtn a:nth-child(2) {
    transform: translateX(-140px) scale(1.1) !important;
  }
  
  
  .singleProject .project--desc{
    position: absolute;
    width: 95%;
    height: 200px;
    left: 0;
    top: 25px;
    transform: translate(-110%,40%);
    padding: 15px;
    border-radius: 0 20px 20px 0;
    transition: transform 0.9s;
    color:rgb(147, 71, 192)!important;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--primaryFont);
  }
  
  .singleProject:hover .project--desc{
    transform: translate(-2%,40%);
  }
  
  .singleProject .project--lang{
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 140px;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    color:rgb(147, 71, 192)!important;
    gap: 0.5rem;
    flex-direction: column;
    border-radius: 10px 0 0 10px;
    transform: translateX(100%);
    transition: transform 0.5s 0.3s;
    padding: 0.825rem;
  }
  
  .singleProject:hover .project--lang{
    transform: translateX(0);
  }
  
  .project--lang > span {
    font-family: var(--primaryFont);
    font-weight: 500;
    word-break: break-word; 
    line-height: 100%;
  }

  .iconBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50px;
    border: 2px solid #fbd9ad;
    color: #fbd9ad;
    transition: all 0.2s;
    
  }
  .iconBtn:hover {
      background-color: #fbd9ad;
      color: rgb(93 43 123);
      transform: scale(1.1);
      border: 2px solid rgb(93 43 123);
  }





  @media (max-width: 767px) {

    .aboutme-heading{
        font-size: 3.6em;
      }
  }

  @media (max-width: 470px) {
    .singleProjectPage .project--lang{
      position: absolute;
      bottom: 20px;
      right: 0;
      width: 160px;
      font-size: 0.95rem;
      display: flex;
      color: rgb(147, 71, 192)!important;
      justify-content: center;
      gap: 0.5rem;
      flex-direction: column;
      border-radius: 10px 0 0 10px;
      transform: translateX(100%);
      transition: transform 0.5s 0.3s;
      padding: 0.825rem;
    }
    .singleProjectPage:hover .project--showcaseBtn a:nth-child(2) {
      transform: translateX(-137px) scale(1.1) !important;
    }
    
  }
  @media (max-width: 360px) {
    .singleProjectPage .project--lang{
      position: absolute;
      bottom: 20px;
      right: 0;
      width: 150px;
      font-size: 0.95rem;
      display: flex;
      color: rgb(147, 71, 192)!important;
      justify-content: center;
      gap: 0.5rem;
      flex-direction: column;
      border-radius: 10px 0 0 10px;
      transform: translateX(100%);
      transition: transform 0.5s 0.3s;
      padding: 0.825rem;
    }
    .singleProjectPage:hover .project--showcaseBtn a:nth-child(2) {
      transform: translateX(-128px) scale(1.1) !important;
    }
    
  }